.navbar {
    background-color: #4D455D;
    padding: 20px;
    border-radius: 0;
    border: none;
}
.nav-link {
    color: #fff !important;
    font-size: 18px;
    margin-right: 20px;
}
.nav-link:hover {
    color: #fff !important;
    text-decoration: underline;
}